*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    display: flex;
    justify-content: space-around;
}

button{
    border-radius: 20px;
    padding: 10px;
}
.text{
    text-align: center;
    margin: 10px;
    padding: 20px;
}
.pink{
    color: #6C757D;
    font-size: 20px;
}
.text h1{
    font-size: 70px;
    color: #6C757D;
}
.box img{
    width: 400px;
    height: 400px;
}
.jadval{
   display: flex;
   justify-content: center;
}
.card{
    margin: 20px;
}
.tugmalar{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 5px;
    background: #F2F8F8;
    margin: 20px;
    padding: 20px;
    font-weight: 900;
    color: rgb(0, 0, 0);
}
.foters{
    display: flex;
}
.foters h1{
    font-size: 30px;
    margin: 20px;
    padding: 30px;
}
